.NavBar{
    color: #e8e8eb;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 100px 0;
}

.NavBar h1 {
    margin: 0 0 0 50px;
    font-size: 60px;
}

#navButtons {
    margin: 0 50px 0 0;
}

#navButtons button{
    color: inherit;
    background: none;
    border: none;
    margin: 0 20px;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 48px;
}

#navButtons button:focus{
    color:#9e579d;
    outline:0;
}

