.player{
    color: #e8e8eb;
    text-align: center;
}

.Player audio{
    display: block;
}

#playButton {
    border-radius: 50%;
    height: 280px;
    width: 280px;
    background: linear-gradient(-45deg, #ff9999, #996699, #663399, #333366);
    background-size: 400% 400%;
    position: relative;
    border: none;
    font-family: inherit;
    animation: playMusic 7s infinite ease-in-out;
    animation-play-state: paused;
}

#playButton:focus {
    outline: 0;
}

#playButton i {
    color: #303a52;
}

@keyframes playMusic {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#songTitle {
    font-size: 1em;
}

#songArtist {
    color: #e8e8eb;
    font-size: 1em;
    margin: 0;
    opacity: 0.75;
}